/* 1. Corrija la altura de la línea en todos los navegadores.
   2. Evite los ajustes de tamaño de fuente después de cambios de orientación en iOS.
   3. Normaliza las Cajas
   4. Normaliza la Fuente*/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box; /* 3 */
    font-size: 62.5%; /* 4 */
}
/* Normaliza las cajas */
*, *:before, *:after{
    box-sizing: inherit;
}
/* Eliminar el margen en todos los navegadores y normaliza las fuentes*/
body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2;
}
/* Representar el elemento "main" de forma coherente en IE */
main {
    display: block;
}
/* Interlineado Predeterminado para Titulos y Subtitulos */
h1,h2,h3,h4{
    line-height: 0;
}
/* Corrija el tamaño de fuente y el margen en los elementos "h1" dentro de los contextos 
"section" y "article" en Chrome, Firefox y Safari.*/
h1 {
    margin: 0.67em 0;
}
/* 1. Agregue el tamaño de caja correcto en Firefox.
   2. Muestre el desbordamiento en Edge e IE. */
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
/* 1. Corrija la herencia y la escala del tamaño de fuente en todos los navegadores.
   2. Corrija el tamaño de fuente "em" en todos los navegadores. */
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/* 1. Eliminar el fondo gris de los enlaces activos en IE 10
   2. Elimina el Subrayado de los enlaces*/
a {
    background-color: transparent; /* 1 */
    text-decoration: none; /* 2 */
}
/* 1. Elimina el borde inferior en Chrome.
   2. Text Decoration correcta en Chrome, Edge, IE, Opera y Safari. */
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
/* Agregue la letra Negrita correcta en Chrome, Edge y Safari. */
b, strong {
    font-weight: bolder;
}
/* 1. Corrija la herencia y la escala del tamaño de fuente en todos los navegadores.
   2. Corrija el tamaño de fuente "em" en todos los navegadores. */
code, kbd, samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/* Agregue el tamaño de fuente correcto en todos los navegadores */
small {
    font-size: 80%;
}
/* Evite que los elementos "sub" y "sup" afecten la altura de la línea en
todos los navegadores.    */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Eliminar el borde de las imágenes dentro de los enlaces en IE 10 y
   que sean de una anchura maxima de 100% */
img {
    border-style: none;
    max-width: 100%;
}
/* 1. Cambie los estilos de fuente en todos los navegadores.
   2. Elimine el margen en Firefox y Safari. */
button, input, optgroup, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
/* Muestre el desbordamiento en IE y Edge */
button, input { 
    overflow: visible; /* 1 */
}
/* Elimina herencia de transformación de texto en Edge, Firefox e IE */
button, select { 
    text-transform: none; /* 1 */
}
/* Corrija la incapacidad de diseñar tipos en los que se puede hacer clic en iOS y Safari.  */
 button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
/* Elimina el borde interior y el relleno en Firefox. */
 button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/* Restaure los estilos de enfoque no establecidos por la regla anterior. */
 button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/* Corrija el relleno en Firefox. */
 fieldset {
    padding: 0.35em 0.75em 0.625em;
}
/* 1. Corrija el ajuste del texto en Edge e IE.
   2. Corrija la herencia de color de los elementos "fieldset" en IE.
   3. Elimine el relleno para que los desarrolladores no queden atrapados cuando ponen
      a cero los elementos "fieldset" en todos los navegadores. */
 legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
/* Agregue la alineación vertical correcta en Chrome, Firefox y Opera. */
 progress {
    vertical-align: baseline;
}
/* Eliminar la barra de desplazamiento vertical predeterminada en IE 10+ */
 textarea {
    overflow: auto;
}
/* 1. Agregue el tamaño de caja correcto en IE 10.
   2. Quite el relleno en IE 10.  */
[type="checkbox"], [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
/* Corrija el estilo del cursor de los botones de incremento y decremento en Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/* 1. Corrija la apariencia extraña en Chrome y Safari.
   2. Corrija el estilo del contorno en Safari. */
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
/* Elimina el acolchado interior en Chrome y Safari en macOS. */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/* 1. Corrija la incapacidad de diseñar tipos en los que se puede hacer clic en iOS y Safari.
   2. Cambie las propiedades de la fuente a "inherit" en Safari.  */
::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
/* Agregue la pantalla correcta en Edge, IE 10+ y Firefox. */
details {
    display: block;
}
/* Agregue la pantalla correcta en todos los navegadores. */
summary {
    display: list-item;
}
/* Agregue la pantalla correcta en IE 10+. */
template {
    display: none;
}
/* Agregue la pantalla correcta en IE 10. */
[hidden] {
    display: none;
}
